footer {
    padding: 24px 0 32px 0;

    & .info {
        display: flex;
        justify-content: center;

        & p, & a {
            margin-bottom: 16px;
            text-align: center;
            font-family: var(--lato);
        }
        & p {
            font-weight: bold;
        }
    }

    & .rrss_wrapper {
        display: flex;
        justify-content: center;

        & img {
            max-width: 20px;
            margin: 0 8px;
            opacity: .6;
            transition: all .4s ease-in;

            & :hover {
                opacity: .4;            }
        }
    }
}