.contact_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 32px;
    gap: 32px;
    max-width: 650px;
    margin: 0 auto;

    & img {
        width: 100%;
    }

    & .img_wrapper {
        grid-row: 2;
    }

    & .info_wrapper {
        grid-row: 1;
    }

    @media screen and (min-width: 650px) {
        grid-template-columns: 1fr 1fr;

        & .img_wrapper {
            grid-row: -1;
        }

        & .info_wrapper {
            grid-row: 1;
        }

    }

    & p:first-child {
        margin-top: 0;
    }

    & p {
        font-size: 1.5em;
    }

    & .social {
        & a {
            margin-right: 16px;
        }

        & img {
            width: 30px;
        }
    }
}