.video_detail_page_wrapper {
    & h1 {
        text-align: center;
    }

    & .video_wrapper {
        display: flex;
        justify-content: center;

        & #html_wrapper {
            width: 100%;
            max-width: 700px;
        }

        & iframe {
            max-width: 100%;
        }
    }

    & .info_item {
        display: flex;
        justify-content: center;

        & p {
            font-family: var(--lato);
            margin: 8px 0;
            font-size: 1em;

            &:first-child {
                font-weight: bold;
                margin-right: 8px;
            }
        }
    }

    & .gallery_wrapper {
        display: grid;
        grid-template-columns: 1fr;
        gap: 24px;
        margin: 32px 0;

        @media screen and (min-width: 450px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (min-width: 650px) {
            grid-template-columns: 1fr 1fr 1fr;
        }

        & img {
            width: 100%;
            height: auto;
            cursor: pointer;
        }
    }
}