html,
body {
    background-color: var(--backgroundColor);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    color: var(--color);
    font-family: var(--cool);
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 16px;

    @media screen and (min-width: 550px) {
        padding: 0 32px;
    }
}